/* General Styling */
body {
    margin: 0;
    font-family: serif;
    background: #7c1f34;
    color: #f1d1d8;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
      text-decoration: none;    /* entfernt Unterstreichung */
    color: inherit; 
}
.logo a:visited {
    color: inherit;           /* verhindert lila visited-Farbe */
}

.logo a:hover,
.logo a:active {
    text-decoration: none;    /* verhindert Unterstreichung beim Hover */
    color: inherit;           /* keine Farbänderung */
}

.nav nav a {
    font-family: "Avenir", sans-serif;
    margin-left: 25px;
    padding: 8px 22px;
    background: #e49bab;
    color: #7c1f34;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

/* Hero Section */
/* --- Hero Grid Layout --- */

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr; /* linke & rechte Spalte */
    grid-template-rows: auto auto auto;
    gap: 40px 60px; /* vertikal / horizontal */
    padding: 100px 60px;
    align-items: center;
}

/* Bilder */
.hero-grid img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    object-fit: cover;
}

/* Linkes oberes Bild */
.hero-left-top {
    grid-column: 1;
    grid-row: 1 / 3; /* über zwei Zeilen */
}

/* Linkes unteres Bild */
.hero-left-bottom {
    grid-column: 1;
    grid-row: 3;
}

/* Rechtes großes Bild */
.he