/* General Styling */
body {
    margin: 0;
    font-family: serif;
    background: #7c1f34;
    color: #f1d1d8;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav nav a {
    font-family: "Avenir", sans-serif;
    margin-left: 25px;
    padding: 8px 22px;
    background: #e49bab;
    color: #7c1f34;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}





/* Footer */
.footer {
    background: #d9a1b0;
    color: #7c1f34;
    padding-top: 50px;
    margin-top: 200px;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.footer-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
}

.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col h4 {
    margin-bottom: 8px;
    font-weight: bold;
}

.footer-col a {
    display: block;
    margin-bottom: 4px;
    color: #7c1f34;
    text-decoration: none;
    font-size: 14px;
}

/* Lower Footer */
.footer-lower {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    padding: 25px 0;
    border-top: 1px solid #7c1f34;
}

.footer-lower a {
    color: #7c1f34;
    text-decoration: none;
    font-size: 14px;
}

/* Gesamter Footer in Avenir */
.footer,
.footer a,
.footer h4 {
    font-family: "Avenir", sans-serif;
}

/* Ausnahme: Der Name "Nina Keusch" bleibt in der Standardschrift */
.footer-name {
    font-family: serif; /* oder die Schrift, die du willst */
}

@media (max-width: 900px) {
    .hero-grid {
        grid-template-columns: 1fr;
    }

    .hero-title {
        font-size: 48px;
        grid-column: 1;
        grid-row: 1;
    }

    .hero-left-top {
        grid-row: 2;
    }

    .hero-right {
        grid-row: 3;
    }

    .hero-left-bottom {
        grid-row: 4;
    }
}
